:root {
  --page-background-color: #F9FAFC;

  --box-background-color: #FEFEFE;
  --box-border-color: #eeeeee;

  --color-primary: #5245EA;
  --color-secondary: #EEF2FE;

  --color-gray-1: #EBECEE;
  --color-gray-2: #E5E5E7;

  --text-color: #16273C;
}